n8n_RAG_chatbot_basic.json
{
  "name": "n8n_RAG_chatbot_basic",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "54cec83b-2fb7-44a6-b253-9d3e51b08bd9",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        464
      ],
      "id": "6d88d1e1-b836-4f57-9b44-30e65f16bd8f",
      "name": "Webhook",
      "webhookId": "54cec83b-2fb7-44a6-b253-9d3e51b08bd9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Bạn là trợ lý ảo của shop thời trang Basiccolor. Hãy sử dụng những dữ liệu được cung cấp để trả lời câu hỏi."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        704,
        464
      ],
      "id": "e910cbe9-03e6-4b9a-adf0-c6a9e2576c10",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        -320
      ],
      "id": "9ff234d4-ac25-427d-bc62-a6bca9f45199",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        752,
        -320
      ],
      "id": "1963c087-7c04-46a0-8de3-0318abc24ad3",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "uA25NTck7wVgH4hw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        672,
        -144
      ],
      "id": "8d16cd23-587e-474d-9188-0d314e20507e",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "1omz7lh5SC7hgNvt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "docxLoader",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1008,
        -144
      ],
      "id": "fdc2d3c9-9415-46ad-985c-2d9800f84777",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1168,
        16
      ],
      "id": "c0745f7c-e789-4f01-aef5-69a5f07314aa",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "=https://docs.google.com/document/d/1oT1Sh3XxIUPrM6AUsD_pS7uI47xum8K2/edit?usp=drive_link&ouid=103259688505781924434&rtpof=true&sd=true",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        -432
      ],
      "id": "c8ffa85c-8176-4598-83e9-b7de3fcf7acc",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bDurVCQfDdQLdLxq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "=https://docs.google.com/document/d/1l7th3270c7XXnKKQB0qp2Ez08FbUa8CP/edit?usp=sharing&ouid=103259688505781924434&rtpof=true&sd=true",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        -288
      ],
      "id": "1ab54bdc-9892-43ab-8b71-2905b4a2c347",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bDurVCQfDdQLdLxq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "=https://docs.google.com/document/d/1PA339AMzpdMx7zSBQxqI8z-aroGhp3IV/edit?usp=sharing&ouid=103259688505781924434&rtpof=true&sd=true",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        -144
      ],
      "id": "4728d037-9d4b-4627-aa86-95fec3ff9769",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bDurVCQfDdQLdLxq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "=https://docs.google.com/document/d/1LDOyhyfvurgf3GFCoNUEoOwx2c_0QbdS/edit?usp=sharing&ouid=103259688505781924434&rtpof=true&sd=true",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        -16
      ],
      "id": "c54c0924-6614-4d0d-821c-62992e404ee3",
      "name": "Download file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bDurVCQfDdQLdLxq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "=https://docs.google.com/document/d/1AvCvkaEilBo9M5j56g54OktXJIb6es2m/edit?usp=sharing&ouid=103259688505781924434&rtpof=true&sd=true",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        128
      ],
      "id": "000badbc-5ced-4eca-bd46-3b57917fe06c",
      "name": "Download file4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bDurVCQfDdQLdLxq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        656
      ],
      "id": "4768d308-de81-4ae4-aead-265ef7f84071",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "1omz7lh5SC7hgNvt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        800,
        672
      ],
      "id": "4cc64604-b259-4919-b6d5-f6fd92648484",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Lấy thông tin công ty, sản phẩm từ BasicColor",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1072,
        736
      ],
      "id": "c3044ecf-8943-4c8e-80e8-89cc3929a73f",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "uA25NTck7wVgH4hw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1200,
        928
      ],
      "id": "20704b96-1bee-41b8-b000-de7c1261ff1d",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "1omz7lh5SC7hgNvt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1248,
        464
      ],
      "id": "aaecd60c-75b4-4afb-bd87-17c0573dd75e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5d5860e-3e28-46ee-8792-13153597cfbb",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "21db7068-7dd3-4b6b-8dc0-a7e4672e174c",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        464
      ],
      "id": "6b5ae892-ba05-4ade-8c3a-5b2e286da56d",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download file4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file4": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6d002d25-eea7-48b2-8b21-c3014e0e6ef3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5e048ca825b8d8872494ffd00e23991c7449a20f22c35a18f532f52878747461"
  },
  "id": "ad9tpZJFrHufvJQO",
  "tags": []
}